@use '../../base/mixins' as m; // Import Mixins 
/*<----Init Explorer---->*/
#Explorer {
    position: absolute;
    top: 10%;
    left: 30%;
    

    li img {
        width: 17px;
        height: 17px;
        margin: 0 1em;
    }

    .items_explorer {
        background-color: #333333;
        padding: .3em;
        padding-left: .5em;
        font-size: .7em;
    }
}
.container_explorer {
    position: relative;
    background-color: $rgba_gray7;
    box-shadow: 3px 3px 10px $rgba_black3;
    border: 1px solid $border_exp;
    width: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@include m.tablet {
    #Explorer {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 50%;
    }
    .container_explorer {
        width: 300px;
    }
}