@use '../../base/mixins' as m; // Import Mixins 
/* <---- Init Start Menu ----> */
#open_menu {
    box-shadow: 3px -3px 5px 0px $rgba_black4;
    backdrop-filter: blur(12px);
    background-color: $rgba_gray8;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1.7em;
    padding: 1em;

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 620px;
        height: 420px;
    }
    @include m.tablet {
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            width: 240px;
            height: 420px;
        }
    };
}
/* <---- Grid User ---- > */
.GridUser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 50px;
    z-index: 4;

    .icon_open {
        padding: .7em 1em;
        border: 1.5px solid transparent;

        &:hover {
            background-color: $rgba_white2;
            border: 1.5px solid $rgba_white2;
            padding: .7em 1em;
        }
        img {
            width: 17px;
            height: 17px;
        }
        .start {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .icon_config .Chendo {
        border-radius: 50%;
    }
    .icon_config span {
        position: absolute;
        padding-left: 3em;
    }
}
/* <---- Visibility START JS ---- */
.openUser {
    backdrop-filter: blur(12px);
    height: 100%;
    inset: 0;
    background-color: $rgba_blue4;
    transition: all .1s ease-in;
    width: 230px;
}
.openUser:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 1px $rgba_gray3;
    filter: blur(1px);
}
/* <---- End Visibility START ---- */
/* <---- End Grid User ---- > */
/* <---- Grid Programs ---- > */
.GridPrograms {
    width: 100%;
    padding-left: 2.5em;
    padding-right: .4em;
    overflow-y: auto;

    .letter {
        display: flex;
        font-size: .7em;
        margin: 2em 0;
    }
    .icon_open {
        cursor: default;
        padding: .3em;
        line-height: 0;
        overflow: hidden;
        border: 1.5px solid transparent;
        border-left: none;
        border-right: none;

        &:hover {
            background-color: $rgba_white2;
        }
    }
    .icon_open img {
        width: 23px;
        height: 23px;
    }
    .icon_open span {
        font-size: .7em;
    }
}
.icon_open {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    z-index: 3;
}
.icon_open::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1), rgba(255, 255, 255, .7)
    );
    z-index: 1;
}
/* <----End Grid Programs ---- > */
/* <---- Grid Application ---- > */
.GridApplications {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    padding-left: .4em;

    img {
        width: 45px;
        height: 45px;
    }
    span {
        position: absolute;
        font-size: .7em;
        bottom: .3em;
        left: .6em;
    }
}
.GridApplications .google, .photos, .mail, .store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $rgba_extended;
    outline: 1.5px groove $rgba_white2;
    position: relative;
    width: 95px;
    height: 95px;
    margin: .2em;
}
.GridApplications .google:hover, 
.photos:hover, 
.mail:hover, 
.store:hover {
    background-color: $rgba_white2;
    outline: 1.5px groove $rgba_white5;
}
/* <---- End Grid Application ---- > */
/* <---- End Start Menu ----> */
/* <---- End Logo Windows & Start Menu ----> */