/* <---- System Tray ----> */
.system_tray {
    padding-right: 1em;

    .systems {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .7em;

        img {
            width: 17px;
            height: 17px;
        }
        span {
            text-transform: uppercase;
            font-size: .7em;
        }
    }
}
.show_hidden_icons .show-icons {
    width: 13px;
    height: 13px;
}
/* <---- End System Tray ----> */